@font-face {
    font-family: "LG Smart Light";
    src: url(fonts/LG_Smart_Light.eot);
    src: url(fonts/LG_Smart_Light.eot?#iefix) format("embedded-opentype"), url(fonts/LG_Smart_Light.woff) format("woff"), url(fonts/LG_Smart_Light.ttf) format("truetype"), url("fonts/LG_Smart_Light.svg#LG Smart Light") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "LG Smart";
    src: url(fonts/LG_Smart_Regular.eot);
    src: url(fonts/LG_Smart_Regular.eot?#iefix) format("embedded-opentype"), url(fonts/LG_Smart_Regular.woff) format("woff"), url(fonts/LG_Smart_Regular.ttf) format("truetype"), url("fonts/LG_Smart_Regular.svg#LG Smart Light") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face{
    font-family:"LG Smart";
    src:url(fonts/LG_Smart_SemiBold.eot);
    src:url(fonts/LG_Smart_SemiBold.eot?#iefix) format("embedded-opentype"),url(fonts/LG_Smart_SemiBold.woff) format("woff"),url(fonts/LG_Smart_SemiBold.ttf) format("truetype"),url("fonts/LG_Smart_SemiBold.svg#LG Smart SemiBold") format("svg");
    font-weight: 700;
    font-style: normal
}

body {
    background-image: url('bg-landing-lg.gif');
}

.register-card {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 30px;
    background-image: url('bg-landing-lg.gif') !important;
}