@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

body {
  background: url("bg-landing-lg.gif");
}

/* Header*/

.header {
  height: 86px;
}

.header.sidebar {
  background: #C00E40;
  border-bottom: 1px #FFFFFF;
  z-index: 8000;
}

.header.sidebar .header-separator{
  position: absolute;
  top: 84px;
  left: 18px;
  right: 18px;
  opacity: 0.3;
  border: 1px solid #FFFF;

}

.header-logo {
  margin-left: 20px;
  padding-top: 24px;
}

.bm-burger-button.visible {
  display: block;
  position: absolute;
  background: transparent;
  right: 18px;
  top: 25px;
  z-index: 9000;
}

.header-search-button {
  position: absolute;
  background: transparent;
  right: 59px;
  top: 25px;
  z-index: 9000;
}

.header-button{
  padding: 0 !important;
}

/* Layout */

.bm-burger-button {
  display: none;
}

.bm-cross-button {
  display: none;
}

.bm-overlay{
  top: 86px;
  background: transparent !important;
  z-index: 8000;
}

.bm-menu-wrap {
  width: 100% !important;
  top: 86px;
}

.bm-menu {
  background: #C00E40;
}

.menu-item {
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 20px;
  text-decoration: none !important;
  color: #FFFFFF;
  font-size: 21px;
  letter-spacing: 0.05em;
}

.menu-item:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

.menu-item:focus {
  outline: none;
}

.menu-item-selected {
  font-weight: bold;
}

/* Slider / Carrousel */

.slider-limits {
  height: 184px;
}

.slider-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 345px;
  top: 103px;
  z-index: 1000;
}

.slick-slide {
  padding-left: 30px;
  padding-right: 30px;
}

.slider-card {
  background: linear-gradient(180deg, #7F6AED 0%, #C02A4F 100%);
  border-radius: 10px;
  height: 345px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
}

.custom-dot {
  margin-top: 20px;
  margin-right: 0;
  height: 14px;
  width: 14px;
  background: #CECECE;
  border-radius: 7px;
}

.slick-active .custom-dot {
  background: #CB2853;
}

/* Content */

.content-container {
  background: #F8F8F8;
  padding-top: 220px;
  clip-path: polygon(0 13px, 0 100%, 100% 100%, 100% 0);
}

/* Promo Slider */

.content-title {
  font-size: 22px;
  font-weight: bold;
}

.slider-buttons .slick-slide {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.slider-button {
  color: white !important;
  text-decoration: none !important;
  height: 37px;
  border-radius: 18px;
  background: #CECECE;
  border: none;
  font-size: 13px;
  font-weight: bold;
}

.slider-button.selected {
  background: #CB2853;
}

/* Filter Buttons */

.filter-button {
  background: white;
  color: black;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-bottom: 30px;
}

.order-button {
  background: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-left: 1px;
  border-left-color: #CECECE;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-bottom: 30px;
}

/* Product Cards */

.product-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-bottom: 20px;
}

.product-card-category {
  width: 80px;
  height: 24px;
  background: #FFB5BE;
  border-radius: 18px;
  font-size: 15px;
  font-style: italic;
  line-height: 17px;
  color: white;
}

.product-card-sku {
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
}

.product-card-sku span {
  font-weight: bold;
}

.product-card-name h2 {
  padding-top: 20px;
  font-size:28px;
  line-height: 32px;
  font-weight: bold;
  color: #CB2853;
}

.product-card-image {
  height: 204px;
}

.product-card-price .price-text {
  font-size: 14px;
  font-style: italic;
}

.product-card-price .price {
  font-size: 30px;
  font-weight: bold;
  color: #BF0C3F;
}

.product-card-price .old-price {
  font-size: 14px;
  font-style: italic;
  color: #737373;
}

.product-card-price .old-price span{
  font-weight: bold;
  text-decoration: line-through;
}