@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "fonts.css";

body {
  background: url("/bg-landing-lg.gif");
  font-family: "LG Smart", sans-serif;
}

/*** COMMON ***/

/* React Burger Menu */
.bm-burger-button {
  display: none;
}

.bm-cross-button {
  display: none;
}

.bm-overlay{
  z-index: 1020 !important;
}

.bm-item.header:focus{
  outline: none;
}

/* Header */
.header {
  height: 86px;
}

.header-logo {
  margin-left: 20px;
  padding-top: 24px;
}

.header-sidebar-button {
  display: block;
  background: transparent;
  height: 38px;
  top: 25px;
  padding-left: 7px;
  z-index: 1010;
}

.header-search-button {
  background: transparent;
  height: 38px;
  top: 25px;
  z-index: 1010;
  width: 33px;
  transition: width 1s;
}

.header-search-button.active {
  background: transparent;
  height: 38px;
  top: 25px;
  z-index: 1010;
  width: 100%;
  transition: width 1s;
}

.header-search-button:focus-within {
  width: 100%;
}

.header-search-input {
  border: none;
  border-radius: 30px 0 0 30px;
  margin-left: 130px;
}

.header-button-input {
  background: white;
  height: 38px;
  border-radius: 0 30px 30px 0;
  padding: 0;
}

.header-button{
  padding: 0 !important;
}

/* Sidebar */
.sidebar-separator{
  position: absolute;
  top: 84px;
  left: 18px;
  right: 18px;
  opacity: 0.3;
  border: 1px solid #FFFF;
}

.menu-item {
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 20px;
  text-decoration: none !important;
  color: #FFFFFF;
  font-size: 21px;
  letter-spacing: 0.05em;
}

.menu-item:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

.menu-item:focus {
  outline: none;
}

.menu-item-selected {
  font-weight: bold;
}

.menu-item-selected {
  font-weight: bold;
}

/* Slider / Carousel */

.slider-limits {
  height: 184px;
}

.slider-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 345px;
  top: 103px;
  z-index: 1000;
}

.slick-slide {
  padding-left: 30px;
  padding-right: 30px;
}

.slider-card {
  height: 345px;
}

:focus {
  outline: none
}

.slider-card img {
  max-height: 345px;
  max-width: 100%;
  cursor: pointer;
}

.custom-dot {
  margin-top: 20px;
  margin-right: 0;
  height: 14px;
  width: 14px;
  background: #CECECE;
  border-radius: 7px;
}

.slick-active .custom-dot {
  background: #CB2853;
}

/* Footer */

.footer{
  position: absolute;
  height: 122px;
  width: 100%;
  margin-top: -122px;
  background: black;
  clip-path: polygon(0 13px, 0 100%, 100% 100%, 100% 0);
}

.footer-logo {
  padding-top: 33px;
}

.footer-text {
  color: white;
  font-size: 14px;
  padding-top: 10px;
}

.footer-button-container {
  position: absolute;
  height: 39px;
  width: 100%;
  border: none;
  right: 0;
  left: 0;
  margin-top: -139px;
  z-index: 1000;
}

.footer-button{
  height: 39px;
  width: 39px;
  border: none;
  background: #CB2853;
  z-index: 1000;
  border-radius: 20px;
}

.footer-button:focus{
  background: #CB2853;
}

.footer-button:hover{
  background: #CB2853;
}

/*** DESKTOP ***/

/* Sidebar */
.desktop-menu.bm-menu-wrap {
  width: 100% !important;
}

@media(min-width: 700px) {
  .desktop-menu.bm-menu-wrap {
  width: 50% !important;
}
}

@media(min-width:1000px) {
  .desktop-menu.bm-menu-wrap {
  width: 30% !important;
}
}

.desktop-menu .bm-menu {
  background: #C00E40;
  padding-right: 25px;
}

/* Filter Buttons */
.desktop-filter-button {
  color: black;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
  height: 35px;
  width: 150px;
  border-right: 1px solid #CECECE;
  margin-bottom: 30px;
}

.desktop-filter-button:focus{
  color: black;
  background: none;
  border-right: 1px solid #CECECE;
  box-shadow: none;
}

.desktop-filter-button:active {
  color: black !important;
  background: none !important;
  border-right: 1px solid #CECECE;
}

.desktop-filter-button:hover {
  color: black;
  background: none;
  border-right: 1px solid #CECECE;
}

.filter-remove-button {
  background: none;
  color: black;
  width: 90px;
  border: 1px solid #BF0C3F;
  margin-left: 15px;
  border-radius: 20px;
  height: 30px;
  font-size: 12px;
}

.filter-remove-button:focus {
  background: none;
  color: black;
  border: 1px solid #BF0C3F;
}

.filter-remove-button:active {
  background: none !important;
  color: black;
  border: 1px solid #BF0C3F;
}

.filter-remove-button:hover {
  background: none;
  color: black;
  border: 1px solid #BF0C3F;
}

.desktop-order-button {
  color: black;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
  height: 35px;
  width: 150px;
  border-right: 1px solid #CECECE;
}

.desktop-order-button:focus{
  color: black;
  background: none;
  border-right: 1px solid #CECECE;
  box-shadow: none;
}

.desktop-order-button:active {
  color: black !important;
  background: none !important;
  border-right: 1px solid #CECECE;
}

.desktop-order-button:hover {
  color: black;
  background: none;
  border-right: 1px solid #CECECE;
}

/* Product Detail Sidebar */
.bm-overlay {
  top: 0;
}

.product-sidebar {
  top: 0;
  width: 30% !important;
  background: white;
}

.product-sidebar-header {
  height: 55px;
  background: #BF0C3F;
  border-radius: 0 0 8px 8px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
}

.bm-item.product-sidebar-header:focus{
  outline: none;
}

.bm-item.product-modal:focus{
  outline: none;
}

/***  MOBILE ***/
/* Sidebar */

.mobile-menu.bm-menu-wrap {
  width: 100% !important;
}

.mobile-menu .bm-menu {
  background: #C00E40;
  padding-right: 25px;
}

/* Content */

.content-container {
  background: #F8F8F8;
  padding-top: 220px;
  padding-bottom: 122px;
  clip-path: polygon(0 13px, 0 100%, 100% 100%, 100% 0);
}

.content-container.search {
  padding-top: 40px;
}

.content-title {
  font-size: 22px;
  font-weight: bold;
}

/* Promo Slider */

.slider-buttons .slick-slide {
  padding: 30px 5px 30px;
}

.slider-button {
  color: white !important;
  text-decoration: none !important;
  height: 37px;
  border-radius: 18px;
  background: #CECECE;
  border: none;
  font-size: 13px;
  font-weight: bold;
}

.slider-button.selected {
  background: #CB2853;
}

/* Filter Buttons */

.filter-button {
  background: white;
  color: black;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-bottom: 30px;
}

.filter-button:focus {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black;
  background-color: white;
}

.filter-button:active {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black !important;
  background-color: white !important;
}

.filter-button:hover {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black;
  background-color: white;
}

.order-button {
  background: white;
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  border-left: 1px;
  border-left-color: #CECECE;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-bottom: 30px;
}

.order-button:focus {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black;
  background-color: white;
}

.order-button:active {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black !important;
  background-color: white !important;
}

.order-button:hover {
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  color:black;
  background-color: white;
}

/* Product Cards */

.product-card {
  border: none;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 22px rgba(134, 134, 134, 0.3);
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 20px;
  position: relative;
}

@media(min-width: 800px) {
  .product-card {
    width: 48%;
  }
  .dummy-product-card {
    width: 48%;
  }
}

@media(min-width:1000px) {
  .product-card {
    width: 31%;
  }
  .dummy-product-card {
    width: 31%;
  }
}

.product-card__discount-badge {
  position: absolute;
  top: 25px;
  right: 0px;
  width: 57px;
  height: 57px;
  background: linear-gradient(360deg, #BF0C3F 0%, #FF2F6A 100%);
  box-shadow: 0 12px 24px rgba(56, 20, 81, 0.15);
  border-radius: 100px;
  color: white;
  font-size: 10px;
  line-height: 10px;
  font-weight: bold;
}

.product-card__discount-badge__value {
  font-size: 22px;
  line-height: 22px;
}

.product-card-category {
  padding: 0 10px;
  height: 24px;
  background: #FFB5BE;
  border-radius: 18px;
  font-size: 15px;
  font-style: italic;
  line-height: 17px;
  color: white;
}

.product-card-sku {
  font-size: 13px;
  line-height: 15px;
  font-style: italic;
}

.product-card-sku span {
  font-weight: bold;
}

.product-card-name h2 {
  height: 85px;
  padding-top: 20px;
  font-size:28px;
  line-height: 32px;
  font-weight: bold;
  color: #CB2853;
  text-align: center;
}

.product-card-image {
  height: 204px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.product-card-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-card-price {
  margin-top: 10px;
  position: relative;
}

.product-card-price .price-text {
  font-size: 14px;
  font-style: italic;
}

.product-card-price .price {
  font-size: 30px;
  font-weight: bold;
  color: #BF0C3F;
}

.product-card-price .old-price {
  font-size: 14px;
  font-style: italic;
  color: #737373;
}

.product-card-price .old-price span{
  font-weight: bold;
  text-decoration: line-through;
}

.product-card__badges {
  position: absolute;
  left: -30px;
  top: 10px;
}

.product-card-retailer {
  margin-top: 5px;
  margin-left: 4px;
  height: 28px;
}

.card-button {
  height: 41px;

  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  border-radius: 30px;
}

.card-button.product {
  color: black;
  background: white;
  margin-bottom: 20px;
  border: 2px solid #000000;
}

.card-button.product:focus {
  color: black;
  background: white;
}

.card-button.product:active {
  color: black !important;
  background: white !important;
}

.card-button.product:hover {
  color: black;
  background: white;
}

.card-button.want {
  background: #CB2853;
  margin-bottom: 10px;
  border: none;
}

.card-button.want:focus {
  background: #CB2853;
}

.card-button.want:active {
  background: #CB2853 !important;
}

.card-button.want:hover {
  background: #CB2853;
}

/* Product Modal */

.product-modal-header {
  height: 55px;
  background: #BC0C3F;
  border-radius: 0 0 8px 8px;
}

.modal-header h5 {
  width: 100%;
}

.product-modal-header .modal-title {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.product-modal {
  padding: 15px;
}

.product-modal-image {
  width: 30%
}

.product-modal-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-modal-text {
  width: 70%;
  padding: 10px 10px 10px 30px;
}

.product-modal-sku {
  font-style: italic;
  font-size: 13px;
}

.product-modal-sku span {
  font-weight: bold;
}

.product-modal-name {
  font-size: 25px;
  color: #CB2853;
  font-weight: bold;
}

.product-modal-description {
  font-size: 16px;
}

.product-modal-button {
  margin-top: 20px;
  height: 41px;
  width: 80%;
  border-radius: 30px;
  border: 1px solid #000000;
  background: white;
  color: black;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  right: 0;
}

.product-modal-button:focus {
  color:black;
  background-color: white;
}

.product-modal-button:active {
  color:black !important;
  background-color: white !important;
}

.product-modal-button:hover {
  color:black;
  background-color: white;
}

.product-modal-separator {
  margin-top: 20px;
  width: 100%;
  height: 0;
  border: 1px solid #BCBCBC;
}

.product-modal-subtitle {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
}

.product-modal-retailer {
  margin-top: 30px;
  height: 58px;
  width: 100%;
  box-shadow: 0 6px 12px rgba(56, 20, 81, 0.15);
  border-radius: 8px;
  color: black;
  text-decoration: none;
}

.product-modal-retailer:active {
  color: black;
  text-decoration: none;
}

.product-modal-retailer-text {
  height: 100%;
}

.product-modal-img {
  max-height: 100%;
  padding-left: 10px;
}

.product-modal-img img{
  height: 45px;
}

.product-modal-retailer span {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  font-weight: bold;
}

.product-modal-badge {
  padding-right: 10px;
}

.product-modal-badge-text {
  font-size: 7px !important;
  line-height: 8px;
  color: #737373;
  padding: 4px 0 0 !important;
  max-width: 35px;
  text-align: center;
}

/* Product specs */

.product-specs {
  width: 100%;
}

.product-specs-card {
  border: none;
}

.product-specs-card-body {
  padding-top: 0;
}

.product-specs-title {
  font-weight: bold;
  font-size: 18px;
  color: #BF0C3F;
  background: none;

}

.product-specs-item {
  width: 50%;
  padding-top: 15px;
}

.product-specs-item-title{
  font-weight: bold;
  font-size: 16px;
}

.product-spects-item-content{
  font-size: 16px;
  color: #737373;
}

/* Gallery Modal */

.gallery-modal-card {
  height: 510px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(56, 20, 81, 0.15);
}

.gallery-modal-button button {
  background: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black !important;
}

.gallery-modal-slider {
  max-height: 600px;
}

.gallery-modal-slider .slick-slide div {
  height: 400px;
}

.gallery-modal-img{
  max-width: 100%;
  max-height: 85%;
}

.custom-dot.gallery {
  margin-top: 0;
  margin-right: 0;
  height: 14px;
  width: 14px;
  background: #CECECE;
  border-radius: 7px;
}

.slick-active .custom-dot.gallery {
    background: #CB2853;
}

.gallery-modal-slider .slick-dots {
  margin-bottom: 14px;
}

/* Filter modal */

.filter-modal .modal-content{
  border: none;
  border-radius: 10px;
}

.filter-modal .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.filter-modal-header {

  color: #BF0C3F;
  border: none
}

.filter-modal-header h5 {
  font-size: 14px;
  font-weight: bold;
}

.filter-name {
  font-size: 12px;
}

.filter-modal-button {
  width: 30%;
  height: 35px;
  font-size: 12px;
  border: 1px solid #B4BDC3;
  border-radius: 20px;
  background: white;
  color: #737373;
  box-shadow: none;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.filter-modal-button:focus{
  border: 1px solid #B4BDC3;
  color: #737373;
  background-color: white;
  box-shadow: none;
}

.filter-modal-button:active{
  color: #737373  !important;
  background-color: white !important;
}

.filter-modal-button:hover{
  color: #737373;
  background-color: white;
}

.filter-modal-button.selected {
  border: 1px solid #BF0C3F;
  color:black;
}

.filter-modal-button.selected:focus{
  color: black;
  background-color: white;
  box-shadow: none;
}

.filter-modal-ready {
  width: 100%;
  height: 40px;
  background: white;
  color: black;
  border: none;
  font-size: 13px;
  line-height: 14px;
}

.filter-modal-ready:focus {
  background: white;
  color: black;
}

.filter-modal-ready:active {
  background: white !important;
  color: black !important;
}

.filter-modal-ready:hover {
  background: white;
  color: black;
}

/* Order modal */
.order-modal .modal-content{
  border: none;
  border-radius: 10px;
}

.order-modal .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.order-modal-button {
  font-size: 12px;
  color: black;
  background: white;
  border: none;
  border-bottom: 1px solid #BCBCBC;
  text-align: left;
}

.order-modal-button:focus{
  color: black;
  background-color: white;
  box-shadow: none;
  border-bottom: 1px solid #BCBCBC;
}

.order-modal-button:active{
  color: black !important;
  background-color: white !important;
  box-shadow: none;
  border-bottom: 1px solid #BCBCBC;
}

.order-modal-button:hover{
  color: black !important;
  background-color: white !important;
  box-shadow: none;
  border-bottom: 1px solid #BCBCBC;
}